<!DOCTYPE html>
<html lang="en">

  <head>
    <title>SARS-COV-2</title>
    <meta charset="UTF-8">
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="style/style.css" />
  </head>

  <body>

    <div id="main">
      <div id="header">
        <div id="logo">
          <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="index.html"><span class="logo_colour">SARS-COV-2</span> Colombia</a></h1>
            <h2>Pronostico de la evolución de casos activos</h2>
          </div>
        </div>
        <div id="menubar">
          <ul id="menu">
            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
            <li><a href="index.html">Definición del problema</a></li>
            <li><a href="datos.html">Datos</a></li>
            <li><a href="metodologia.html">Metodología</a></li>
            <li><a href="modelos.html">Modelos</a></li>
            <li class="selected"><a href="resultados.html">Resultados</a></li>
          </ul>
        </div>
      </div>
      <div id="content_header">
    </div>

    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h2>Datos de Origen</h2>
        <hr>
        <h4><li><a href="https://www.datos.gov.co">www.datos.gov.co</a></li></h4>  
        <p>Casos Positivos de COVID19 en Colombia <a href="https://www.datos.gov.co/resource/gt2j-8ykr.json">Ver mas</a></p>
    
        <p>
          Datos proporcionados por
          Instituto Nacional de Salud
        </p>
        
        <h5>
          Actualizado: 29 de agosto de 2020
        </h5>
        
      </div>
      
      <div id="content">

        {% for i in regions %}
            <div>
              <h2>Pronosticos en {{ i }}</h2>
              <hr>
            </div>
            <div class="myImage" id="{{ i }}" style="display:block"> <img src="figs/{{ i }}.png" alt="{{ i }}"> </div>
            <br>
            <h2>Intervalos de confianza: </h2>
            <h2>Métricas de calibración: </h2>
            
            <br>
            <br>
        {% endfor %}

      </div>
    </div>

  </body>
</html>